body {
    background-color: blanchedalmond;
    width: 100%;
}

body, html { 
    margin: 0px;
    height:  100%;}

#canvas {
    border-style: solid;
    width: 768px;
    height: auto;
}

.item1 { grid-area: chat; }
.item2 { grid-area: game; }

.grid-container {
display: grid;
grid-template-columns: 2fr 3fr; 
grid-template-areas: 'chat game';
gap: 10px;
padding: 10px;
margin: auto;
height:  calc(100% - 20px);
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}

.oneFiveContainer {
display: grid;
grid-template-rows: 3fr 1fr;
grid-template-areas: 
  'chat'
  'rooms';
gap: 10px;
margin: auto;
height: 100%;
}

#roomList {
    list-style-type: none;
    margin: 0px;
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto; /* Make the list scrollable */
    background-color: gray;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.credits {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
}





/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }